.header__container {
    display: flex;
    height: 8.0rem; 
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    padding: 0 8.0rem;
    box-shadow: 0 0 1.8rem -1.3rem var(--shadow);
    background:var(--bg-header); 
};

.header__container {
    a {
        color: var(--text);
        text-decoration: none;
        cursor: pointer;
        font-size: 1.2rem; 
        font-weight: 800;       
    }
}

.header__button {
    display: flex;
    align-items: center; 
    font-weight: 600;
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--text);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__button {
    img {
        margin-right: 0.5rem;
    }
}

@media (max-width: 750px) {
    .header__container {
        height: 16.0rem;
        padding: 0 3.0rem;
    }
}