@import "vars";

.search {
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 8.0rem 0.7rem;
}

.search {
    section:nth-child(n + 2){
        box-shadow: 0 0 1.8rem -1.3rem var(--shadow);
    }
}

.search__bar {
    display: flex;
    align-items: center;
    min-width: 33.334vw;
    width: 100%;
    height: 5.8rem;
    padding: 0 3.2rem;
    border-radius: 0.5rem;
    background-color: var(--bg-header);
    box-shadow: 0 0 1.8rem -1.3rem var(--shadow);
    transition: background-color 1s;
}

.search__bar {
    input {
        background: transparent;
        border: none;
        width: 100%;
        font-family: inherit;
        font-size: 1.5rem;
        margin: 0 2.5rem;
        font-weight: 300;
        outline: none;
    }

    input::placeholder, input {
        color: $--dark-gray;
        font-family: inherit;

    }

    input:active {
        border: none;
    }
}

.filter__container {
    width: 20.0rem;
    padding: 1.9rem 3.2rem;
    background-color: var(--bg-header);
    transition: background-color 1s;
    border-radius: 0.5rem;
}

.filter__button {
    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        transition: background-color 1s;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--text);
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    button object {
        filter: var(--filter);
    }
}

.filter__button.animation {
    button  {
        object {
            transform: rotate(-90deg)
        }    
    }
}

@media (max-width: 750px) {
    .search {
        display: block;
        padding: 3.5rem 3.0rem 0.7rem;
    }
    
    .search__bar {
        width: 100%;
    }

    .filter__container {
        margin-top: 3.0rem;
        margin-bottom: 2.0rem;
    }
}
